/** 


Erick Alejandro Campos Rivero - 1506449
Saúl Armando Almaguer Salazar - 1743693
Jaaciel Fernando Maldonado Ruiz - 1684870
Cesar Alejandro Galvan Solis - 1669523
Ricardo Jafet Ali Torres de León - 1673944
Jorge Mario quintanilla Rios 1725793


**/







USE [ProyectoTM]
GO
/****** Object:  Trigger [Tr3]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr3]
GO
/****** Object:  Trigger [TR1]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[TR1]
GO
/****** Object:  Trigger [Tr5]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr5]
GO
/****** Object:  Trigger [tr_CambioPuesto]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[tr_CambioPuesto]
GO
/****** Object:  Trigger [Tr2]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr2]
GO
/****** Object:  Trigger [Act]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Act]
GO
/****** Object:  Trigger [Acomodado]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Acomodado]
GO
/****** Object:  Trigger [Tr4]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr4]
GO
/****** Object:  Trigger [Tr_ArtistaEliminado]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr_ArtistaEliminado]
GO
/****** Object:  Trigger [Tr6]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Tr6]
GO
/****** Object:  Trigger [Invalid]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TRIGGER [dbo].[Invalid]
GO
/****** Object:  StoredProcedure [dbo].[Reasignacion]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[Reasignacion]
GO
/****** Object:  StoredProcedure [dbo].[PromosOnline]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[PromosOnline]
GO
/****** Object:  StoredProcedure [dbo].[Promociones]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[Promociones]
GO
/****** Object:  StoredProcedure [dbo].[Locales]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[Locales]
GO
/****** Object:  StoredProcedure [dbo].[DespedirEmpleado]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[DespedirEmpleado]
GO
/****** Object:  StoredProcedure [dbo].[Consulta]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[Consulta]
GO
/****** Object:  StoredProcedure [dbo].[CambiarZonasCerradas]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP PROCEDURE [dbo].[CambiarZonasCerradas]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK_Venta_Pago]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK_Venta_Empleado]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Evento] DROP CONSTRAINT [FK_Evento_Artistas]
GO
ALTER TABLE [dbo].[Evento] DROP CONSTRAINT [FK_Evento_Arena]
GO
ALTER TABLE [dbo].[DetalleVenta] DROP CONSTRAINT [FK_DetalleVenta_Venta1]
GO
ALTER TABLE [dbo].[DetalleVenta] DROP CONSTRAINT [FK_DetalleVenta_Boletos]
GO
ALTER TABLE [dbo].[Boletos] DROP CONSTRAINT [FK_Boletos_Lugar]
GO
ALTER TABLE [dbo].[Boletos] DROP CONSTRAINT [FK_Boletos_Evento]
GO
/****** Object:  Index [Cliente]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP INDEX [Cliente] ON [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Lugar]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[DetalleVenta]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Boletos]
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Arena]
GO
/****** Object:  View [dbo].[Artista_N]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Artista_N]
GO
/****** Object:  View [dbo].[Venta_estandart]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Venta_estandart]
GO
/****** Object:  View [dbo].[Evento_NF]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Evento_NF]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Evento]
GO
/****** Object:  View [dbo].[Cliente_v2]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Cliente_v2]
GO
/****** Object:  View [dbo].[Cliente_V]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Cliente_V]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  View [dbo].[FormasBuenas]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[FormasBuenas]
GO
/****** Object:  View [dbo].[PagosEquis]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[PagosEquis]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Pago]
GO
/****** Object:  View [dbo].[simios]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[simios]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Artistas]
GO
/****** Object:  View [dbo].[changos]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[changos]
GO
/****** Object:  View [dbo].[Comparaciones]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP VIEW [dbo].[Comparaciones]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP TABLE [dbo].[Venta]
GO
USE [master]
GO
/****** Object:  Database [ProyectoTM]    Script Date: 05/05/2018 10:46:42 p. m. ******/
DROP DATABASE [ProyectoTM]
GO
/****** Object:  Database [ProyectoTM]    Script Date: 05/05/2018 10:46:42 p. m. ******/
CREATE DATABASE [ProyectoTM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoTM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProyectoTM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoTM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProyectoTM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoTM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoTM]
GO
USE [ProyectoTM]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 05/05/2018 10:46:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idPago] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[fechaDeVenta] [date] NOT NULL,
	[Vendedor] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[Subtotal] [money] NOT NULL,
	[IVA] [money] NOT NULL,
	[Total] [money] NOT NULL,
 CONSTRAINT [PK_Venta_1] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Comparaciones]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Comparaciones]
as
select (Subtotal), Max(Vendedor) AS Comparar
from Venta
group by Subtotal
GO
/****** Object:  View [dbo].[changos]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[changos]
as
select * from Venta
where IVA > 49;
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[idArtistas] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[idArtistas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[simios]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[simios]
as
select * from Artistas
where Nombre = 'Maluma';
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Cantidad] [int] NOT NULL,
	[tipoDePago] [int] NOT NULL,
	[Promocion] [int] NOT NULL,
	[idPago] [int] NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PagosEquis]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[PagosEquis]
as
select * from Pago
where tipoDePago > 1000;
GO
/****** Object:  View [dbo].[FormasBuenas]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[FormasBuenas]
as
select * from Pago
where tipoDePago = 1;
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DireccionDeEmpleado] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Estadocivil] [varchar](50) NOT NULL,
	[idCliente] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Cliente_V]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Cliente_V] as
/*sentencia SQL*/
select Nombre,idCliente from Cliente
GO
/****** Object:  View [dbo].[Cliente_v2]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Cliente_v2] as
select Nombre,Apellido,Estadocivil from Cliente
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 05/05/2018 10:46:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[idEvento] [int] NOT NULL,
	[idArtista] [int] NOT NULL,
	[idArena] [int] NOT NULL,
	[NombreDeEvento] [varchar](50) NOT NULL,
	[FechayHora] [time](7) NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Evento_NF]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Evento_NF] as
select NombreDeEvento,FechayHora from Evento
GO
/****** Object:  View [dbo].[Venta_estandart]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Venta_estandart] as
select Vendedor,FechaDeVenta,Total from Venta
GO
/****** Object:  View [dbo].[Artista_N]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Artista_N] as
select Nombre from Artistas
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arena](
	[Direccion] [varchar](50) NOT NULL,
	[nombreDeArena] [varchar](50) NOT NULL,
	[idArena] [int] NOT NULL,
 CONSTRAINT [PK_Arena] PRIMARY KEY CLUSTERED 
(
	[idArena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[idBoletos] [int] NOT NULL,
	[idEvento] [int] NOT NULL,
	[idLugar] [int] NOT NULL,
 CONSTRAINT [PK_Boletos] PRIMARY KEY CLUSTERED 
(
	[idBoletos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVenta] [int] NOT NULL,
	[idBoleto] [int] NOT NULL,
	[idVenta] [int] NOT NULL,
	[idLugar] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 05/05/2018 10:46:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[MatriculaDeEmpleado] [int] NOT NULL,
	[Puesto] [varchar](50) NOT NULL,
	[idEmpleado] [int] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[numeroDeArena] [int] NOT NULL,
	[Zona] [varchar](50) NOT NULL,
	[idLugar] [int] NOT NULL,
 CONSTRAINT [PK_Lugar] PRIMARY KEY CLUSTERED 
(
	[idLugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Arena] ([Direccion], [nombreDeArena], [idArena]) VALUES (N'Privada Fundidora s/n Col. Obrera   64010', N'Auditorio Citibanamex', 111)
INSERT [dbo].[Arena] ([Direccion], [nombreDeArena], [idArena]) VALUES (N'Av. Luis Elizondo No. 540 Col. Tecnológico  64010', N'Auditorio L. Elizondo', 112)
INSERT [dbo].[Arena] ([Direccion], [nombreDeArena], [idArena]) VALUES (N'Av. Benito Juárez No. 1002, Col. Centro  64000', N'Auditorio Pabellon M', 113)
INSERT [dbo].[Artistas] ([idArtistas], [Nombre]) VALUES (2221, N'Maluma')
INSERT [dbo].[Artistas] ([idArtistas], [Nombre]) VALUES (2222, N'Colplay')
INSERT [dbo].[Artistas] ([idArtistas], [Nombre]) VALUES (2223, N'Juan Gabriel')
INSERT [dbo].[Boletos] ([idBoletos], [idEvento], [idLugar]) VALUES (1, 3331, 4441)
INSERT [dbo].[Boletos] ([idBoletos], [idEvento], [idLugar]) VALUES (2, 3331, 4441)
INSERT [dbo].[Boletos] ([idBoletos], [idEvento], [idLugar]) VALUES (3, 3331, 4441)
INSERT [dbo].[Cliente] ([Nombre], [Apellido], [DireccionDeEmpleado], [Edad], [Estadocivil], [idCliente]) VALUES (N'María Mireya', N'Manríquez', N'MONTERREY', 12, N'S', 6661)
INSERT [dbo].[Cliente] ([Nombre], [Apellido], [DireccionDeEmpleado], [Edad], [Estadocivil], [idCliente]) VALUES (N'Enrique', N'Manríquez', N'MONTERREY', 12, N'S', 6662)
INSERT [dbo].[Cliente] ([Nombre], [Apellido], [DireccionDeEmpleado], [Edad], [Estadocivil], [idCliente]) VALUES (N'Carolina', N'Manríquez', N'MONTERREY', 12, N'S', 6663)
INSERT [dbo].[Empleado] ([MatriculaDeEmpleado], [Puesto], [idEmpleado]) VALUES (1506451, N'Vendedor', 7710)
INSERT [dbo].[Empleado] ([MatriculaDeEmpleado], [Puesto], [idEmpleado]) VALUES (1506452, N'vendedor', 7711)
INSERT [dbo].[Empleado] ([MatriculaDeEmpleado], [Puesto], [idEmpleado]) VALUES (1506453, N'vendedor', 7712)
INSERT [dbo].[Evento] ([idEvento], [idArtista], [idArena], [NombreDeEvento], [FechayHora]) VALUES (3331, 2222, 111, N'Hellow', CAST(N'11:30:00' AS Time))
INSERT [dbo].[Evento] ([idEvento], [idArtista], [idArena], [NombreDeEvento], [FechayHora]) VALUES (3332, 2223, 111, N'Hi', CAST(N'11:30:00' AS Time))
INSERT [dbo].[Evento] ([idEvento], [idArtista], [idArena], [NombreDeEvento], [FechayHora]) VALUES (3333, 2224, 112, N'Mega', CAST(N'11:30:00' AS Time))
INSERT [dbo].[Lugar] ([numeroDeArena], [Zona], [idLugar]) VALUES (111, N'X', 4441)
INSERT [dbo].[Lugar] ([numeroDeArena], [Zona], [idLugar]) VALUES (112, N'B', 4442)
INSERT [dbo].[Lugar] ([numeroDeArena], [Zona], [idLugar]) VALUES (113, N'C', 4443)
INSERT [dbo].[Pago] ([Cantidad], [tipoDePago], [Promocion], [idPago]) VALUES (200, 1, 1, 41)
INSERT [dbo].[Pago] ([Cantidad], [tipoDePago], [Promocion], [idPago]) VALUES (306, 2, 2, 42)
INSERT [dbo].[Pago] ([Cantidad], [tipoDePago], [Promocion], [idPago]) VALUES (1000, 1, 1, 43)
INSERT [dbo].[Venta] ([idVenta], [idEmpleado], [idPago], [idCliente], [fechaDeVenta], [Vendedor], [Precio], [Subtotal], [IVA], [Total]) VALUES (1000, 7780, 1209, 6670, CAST(N'2018-05-03' AS Date), N'Salomon', 200.0000, 200.0000, 32.0000, 232.0000)
INSERT [dbo].[Venta] ([idVenta], [idEmpleado], [idPago], [idCliente], [fechaDeVenta], [Vendedor], [Precio], [Subtotal], [IVA], [Total]) VALUES (1031, 7810, 41, 6675, CAST(N'2018-04-05' AS Date), N'Salomon', 300.0000, 300.0000, 50.0000, 350.0000)
INSERT [dbo].[Venta] ([idVenta], [idEmpleado], [idPago], [idCliente], [fechaDeVenta], [Vendedor], [Precio], [Subtotal], [IVA], [Total]) VALUES (1032, 7841, 42, 6676, CAST(N'2018-04-05' AS Date), N'Victor', 100.0000, 100.0000, 20.0000, 120.0000)
SET ANSI_PADDING ON
GO
/****** Object:  Index [Cliente]    Script Date: 05/05/2018 10:46:47 p. m. ******/
CREATE NONCLUSTERED INDEX [Cliente] ON [dbo].[Cliente]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FK_Boletos_Evento] FOREIGN KEY([idEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FK_Boletos_Evento]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FK_Boletos_Lugar] FOREIGN KEY([idLugar])
REFERENCES [dbo].[Lugar] ([idLugar])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FK_Boletos_Lugar]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Boletos] FOREIGN KEY([idBoleto])
REFERENCES [dbo].[Boletos] ([idBoletos])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Boletos]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta1] FOREIGN KEY([idDetalleVenta])
REFERENCES [dbo].[Venta] ([idVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta1]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Arena] FOREIGN KEY([idArena])
REFERENCES [dbo].[Arena] ([idArena])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Arena]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Artistas] FOREIGN KEY([idArtista])
REFERENCES [dbo].[Artistas] ([idArtistas])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Artistas]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Empleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Empleado]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Pago] FOREIGN KEY([idPago])
REFERENCES [dbo].[Pago] ([idPago])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Pago]
GO
/****** Object:  StoredProcedure [dbo].[CambiarZonasCerradas]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[CambiarZonasCerradas]
@Zona varchar(5)
as
begin
		UPDATE [dbo].[Lugar]
		SET Zona = 'X'		--Por asignar
		where Zona = @Zona
end
GO
/****** Object:  StoredProcedure [dbo].[Consulta]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Consulta]
as
select * from Venta
where Total >= '500.00'
GO
/****** Object:  StoredProcedure [dbo].[DespedirEmpleado]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[DespedirEmpleado]
@matriculaDeEmpleado int
as
begin
	DELETE FROM [dbo].[Empleado]
	WHERE matriculaDeEmpleado = @matriculaDeEmpleado
end
GO
/****** Object:  StoredProcedure [dbo].[Locales]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Locales]
as
select * from Cliente
where DireccionDeEmpleado = 'MONTERREY , NL'
GO
/****** Object:  StoredProcedure [dbo].[Promociones]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Promociones]
@promocion int
as
begin
	
	SELECT p.promocion, COUNT(p.promocion) as 'Boletos promocionados', COUNT(p.promocion)*p.promocion as '$ perdido p/promociones'
	FROM [Pago] as p
	where promocion > @promocion
	group by p.promocion
end
GO
/****** Object:  StoredProcedure [dbo].[PromosOnline]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PromosOnline]
@tipoDePago int
as
begin
		UPDATE [dbo].[Pago]
		SET cantidad = cantidad-cantidad*.10
		where tipoDePago = @tipoDePago
end
GO
/****** Object:  StoredProcedure [dbo].[Reasignacion]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Reasignacion]
@Zona varchar(5),
@idLugar int
as
begin
		UPDATE [dbo].[Lugar]
		SET Zona = @Zona, idLugar = @idLugar
		where Zona = 'X'
end
GO
/****** Object:  Trigger [dbo].[Invalid]    Script Date: 05/05/2018 10:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Invalid]
ON [dbo].[Arena]
INSTEAD OF INSERT
AS
	PRINT 'No se puede modificar este campo'
GO
ALTER TABLE [dbo].[Arena] ENABLE TRIGGER [Invalid]
GO
/****** Object:  Trigger [dbo].[Tr6]    Script Date: 05/05/2018 10:46:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr6] on [dbo].[Arena] for delete
as
if (select arenisca from arenero) = (select nombreDeArena from Arena)
begin
print 'Are you sure?'
rollback
end
GO
ALTER TABLE [dbo].[Arena] ENABLE TRIGGER [Tr6]
GO
/****** Object:  Trigger [dbo].[Tr_ArtistaEliminado]    Script Date: 05/05/2018 10:46:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[Tr_ArtistaEliminado]
on [dbo].[Artistas]
after delete
as
select * from deleted
GO
ALTER TABLE [dbo].[Artistas] ENABLE TRIGGER [Tr_ArtistaEliminado]
GO
/****** Object:  Trigger [dbo].[Tr4]    Script Date: 05/05/2018 10:46:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr4] on [dbo].[Artistas] for insert
as
if(select falsoArti from noreplic) = (select Nombre from Artistas)
begin
print 'Ese artista ya existe'
rollback
end
GO
ALTER TABLE [dbo].[Artistas] ENABLE TRIGGER [Tr4]
GO
/****** Object:  Trigger [dbo].[Acomodado]    Script Date: 05/05/2018 10:46:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Acomodado] ON [dbo].[Cliente]
INSTEAD OF INSERT
AS
BEGIN
    INSERT INTO Cliente(
        Nombre,
        Apellido,
        DireccionDeEmpleado,
		Edad,
		Estadocivil,
		idCliente
    ) SELECT
        UPPER(Nombre),
        Apellido,
        DireccionDeEmpleado,
		Edad,
		Estadocivil,
		idCliente
     FROM
        INSERTED
END
GO
ALTER TABLE [dbo].[Cliente] ENABLE TRIGGER [Acomodado]
GO
/****** Object:  Trigger [dbo].[Act]    Script Date: 05/05/2018 10:46:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create trigger [dbo].[Act]
on [dbo].[Cliente] after  update 
as
print 'Campo modificado';
GO
ALTER TABLE [dbo].[Cliente] ENABLE TRIGGER [Act]
GO
/****** Object:  Trigger [dbo].[Tr2]    Script Date: 05/05/2018 10:46:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr2] on [dbo].[Cliente] for insert
as
if(select Gente from tempist) = 'Puto'
begin
print 'Buen nombre'
rollback
end
GO
ALTER TABLE [dbo].[Cliente] ENABLE TRIGGER [Tr2]
GO
/****** Object:  Trigger [dbo].[tr_CambioPuesto]    Script Date: 05/05/2018 10:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[tr_CambioPuesto]
on [dbo].[Empleado]
after update 
as
begin
select * from deleted
select * from inserted
end
GO
ALTER TABLE [dbo].[Empleado] ENABLE TRIGGER [tr_CambioPuesto]
GO
/****** Object:  Trigger [dbo].[Tr5]    Script Date: 05/05/2018 10:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr5] on [dbo].[Empleado] for insert
as
if (select empleadin from workers) = (select MatriculaDeEmpleado from Empleado)
begin
print 'Numero ya registrado'
rollback
end
GO
ALTER TABLE [dbo].[Empleado] ENABLE TRIGGER [Tr5]
GO
/****** Object:  Trigger [dbo].[TR1]    Script Date: 05/05/2018 10:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR1] on [dbo].[Pago] for insert 
as

if(Select Cantidad from inserted) < 0 --Inserted es una tabla temporal
begin 
	print 'Cantidad Invalida'
	RollBack -- Anula el insert
end

GO
ALTER TABLE [dbo].[Pago] ENABLE TRIGGER [TR1]
GO
/****** Object:  Trigger [dbo].[Tr3]    Script Date: 05/05/2018 10:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr3] on [dbo].[Venta] for insert
as
if (select Dinerin from Dineros) < 0
begin
print 'Algo anda mal, revisa'
rollback
end
GO
ALTER TABLE [dbo].[Venta] ENABLE TRIGGER [Tr3]
GO
USE [master]
GO
